<a href="https://colab.research.google.com/github/Lyumin80224/lyumin80224.github.io/blob/main/test1022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

載入套件

In [100]:
import numpy as np
import pandas as pd
import random

資料輸入

In [101]:
from google.colab import files
uploaded=files.upload()

Saving exercise.csv to exercise (1).csv

In [102]:
data=pd.read_csv('exercise.csv',header=0)
data.head()

   座號  頂大  性別  高中  補習科目數  每日讀書時間   區域   成績排名
0   1   1   0   2      1     3.6  3.0  291.0
1   2   0   0   0      1     0.6  1.0   37.0
2   3   0   1   0      1     7.2  2.0  282.0
3   4   0   1   2      1     3.6  1.0  118.0
4   5   1   0   0      1     9.5  3.0  924.0

In [103]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   座號      50 non-null     int64
 1   頂大      50 non-null     int64
 2   性別      50 non-null     int64
 3   高中      50 non-null     int64
 4   補習科目數   50 non-null     int64
 5   每日讀書時間  50 non-null     float64
 6   區域      49 non-null     float64
 7   成績排名    49 non-null     float64
dtypes: float64(3), int64(5)
memory usage: 3.2 KB

不平衡處理

In [104]:
cols = ['頂大']

In [105]:
from collections import Counter
import pandas as pd
result = data[cols].apply(pd.value_counts)
print(result)

   頂大
0  40
1  10

抽樣

In [106]:
df1=pd.DataFrame(data[data['頂大']==1])
print(df1)

    座號  頂大  性別  高中  補習科目數  每日讀書時間   區域    成績排名
0    1   1   0   2      1     3.6  3.0   291.0
4    5   1   0   0      1     9.5  3.0   924.0
5    6   1   1   2      1     0.4  1.0     4.0
10  11   1   1   1      3    26.1  5.0  1582.0
18  19   1   0   1      6    32.6  5.0  2864.0
21  22   1   1   0      8    39.6  1.0  3275.0
28  29   1   0   1      2     0.9  1.0    25.0
35  36   1   0   1      4     4.4  1.0   161.0
45  46   1   1   1      1     1.3  3.0   126.0
49  50   1   0   1      4     7.7  1.0     NaN

In [107]:
df2 = df1.sample(n=30, replace=True)
print(df2)

    座號  頂大  性別  高中  補習科目數  每日讀書時間   區域    成績排名
4    5   1   0   0      1     9.5  3.0   924.0
18  19   1   0   1      6    32.6  5.0  2864.0
5    6   1   1   2      1     0.4  1.0     4.0
45  46   1   1   1      1     1.3  3.0   126.0
10  11   1   1   1      3    26.1  5.0  1582.0
4    5   1   0   0      1     9.5  3.0   924.0
10  11   1   1   1      3    26.1  5.0  1582.0
45  46   1   1   1      1     1.3  3.0   126.0
0    1   1   0   2      1     3.6  3.0   291.0
28  29   1   0   1      2     0.9  1.0    25.0
4    5   1   0   0      1     9.5  3.0   924.0
0    1   1   0   2      1     3.6  3.0   291.0
0    1   1   0   2      1     3.6  3.0   291.0
49  50   1   0   1      4     7.7  1.0     NaN
5    6   1   1   2      1     0.4  1.0     4.0
35  36   1   0   1      4     4.4  1.0   161.0
35  36   1   0   1      4     4.4  1.0   161.0
4    5   1   0   0      1     9.5  3.0   924.0
10  11   1   1   1      3    26.1  5.0  1582.0
0    1   1   0   2      1     3.6  3.0   291.0
4    5   1   0   0      1     9.5  3.0   924.0
10  11   1   1   1      3    26.1  5.0  1582.0
18  19   1   0   1      6    32.6  5.0  2864.0
0    1   1   0   2      1     3.6  3.0   291.0
49  50   1   0   1      4     7.7  1.0     NaN
5    6   1   1   2      1     0.4  1.0     4.0
5    6   1   1   2      1     0.4  1.0     4.0
45  46   1   1   1      1     1.3  3.0   126.0
0    1   1   0   2      1     3.6  3.0   291.0
18  19   1   0   1      6    32.6  5.0  2864.0

In [108]:
dm=pd.concat([df2,data])
print(dm)

    座號  頂大  性別  高中  補習科目數  每日讀書時間   區域    成績排名
4    5   1   0   0      1     9.5  3.0   924.0
18  19   1   0   1      6    32.6  5.0  2864.0
5    6   1   1   2      1     0.4  1.0     4.0
45  46   1   1   1      1     1.3  3.0   126.0
10  11   1   1   1      3    26.1  5.0  1582.0
..  ..  ..  ..  ..    ...     ...  ...     ...
45  46   1   1   1      1     1.3  3.0   126.0
46  47   0   0   1      2     4.3  1.0   243.0
47  48   0   0   0      2    13.9  2.0    67.0
48  49   0   1   1      3     3.6  NaN   339.0
49  50   1   0   1      4     7.7  1.0     NaN

[80 rows x 8 columns]

In [109]:
result = data[cols].apply(dm.value_counts)
print(result)

    頂大
頂大
1   40
0   40

In [110]:
#檢查空值欄位
dm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 4 to 49
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   座號      80 non-null     int64
 1   頂大      80 non-null     int64
 2   性別      80 non-null     int64
 3   高中      80 non-null     int64
 4   補習科目數   80 non-null     int64
 5   每日讀書時間  80 non-null     float64
 6   區域      79 non-null     float64
 7   成績排名    77 non-null     float64
dtypes: float64(3), int64(5)
memory usage: 5.6 KB

In [111]:
print(dm.isnull())

       座號     頂大     性別     高中  補習科目數  每日讀書時間     區域   成績排名
4   False  False  False  False  False   False  False  False
18  False  False  False  False  False   False  False  False
5   False  False  False  False  False   False  False  False
45  False  False  False  False  False   False  False  False
10  False  False  False  False  False   False  False  False
..    ...    ...    ...    ...    ...     ...    ...    ...
45  False  False  False  False  False   False  False  False
46  False  False  False  False  False   False  False  False
47  False  False  False  False  False   False  False  False
48  False  False  False  False  False   False   True  False
49  False  False  False  False  False   False  False   True

[80 rows x 8 columns]

In [112]:
print(dm.isnull().sum())

座號        0
頂大        0
性別        0
高中        0
補習科目數     0
每日讀書時間    0
區域        1
成績排名      3
dtype: int64

In [113]:
print(dm[dm.區域.isnull()]) # 因區域為離散資料，取眾數填入na值

    座號  頂大  性別  高中  補習科目數  每日讀書時間  區域   成績排名
48  49   0   1   1      3     3.6 NaN  339.0

刪除法

In [114]:
dm1=dm
result_drop=pd.DataFrame(dm1.dropna())
result_drop

    座號  頂大  性別  高中  補習科目數  每日讀書時間   區域    成績排名
4    5   1   0   0      1     9.5  3.0   924.0
18  19   1   0   1      6    32.6  5.0  2864.0
5    6   1   1   2      1     0.4  1.0     4.0
45  46   1   1   1      1     1.3  3.0   126.0
10  11   1   1   1      3    26.1  5.0  1582.0
..  ..  ..  ..  ..    ...     ...  ...     ...
43  44   0   1   0      4    37.3  1.0    75.0
44  45   0   1   2      1     5.6  1.0    21.0
45  46   1   1   1      1     1.3  3.0   126.0
46  47   0   0   1      2     4.3  1.0   243.0
47  48   0   0   0      2    13.9  2.0    67.0

[76 rows x 8 columns]

填補（天真）預測法

類別資料：頻率高

In [115]:
dm2=dm
print(dm2.區域.value_counts())
dm2.區域 = dm2.區域.fillna(1)
dm3=pd.DataFrame(dm2)
dm3

1.0    30
3.0    23
5.0    11
2.0    10
4.0     5
Name: 區域, dtype: int64

    座號  頂大  性別  高中  補習科目數  每日讀書時間   區域    成績排名
4    5   1   0   0      1     9.5  3.0   924.0
18  19   1   0   1      6    32.6  5.0  2864.0
5    6   1   1   2      1     0.4  1.0     4.0
45  46   1   1   1      1     1.3  3.0   126.0
10  11   1   1   1      3    26.1  5.0  1582.0
..  ..  ..  ..  ..    ...     ...  ...     ...
45  46   1   1   1      1     1.3  3.0   126.0
46  47   0   0   1      2     4.3  1.0   243.0
47  48   0   0   0      2    13.9  2.0    67.0
48  49   0   1   1      3     3.6  1.0   339.0
49  50   1   0   1      4     7.7  1.0     NaN

[80 rows x 8 columns]

數值資料：插補

In [116]:
dm3.成績排名 = dm3.成績排名.fillna((dm3['成績排名'].mean())) # media()
dm4=pd.DataFrame(dm3)
dm4

    座號  頂大  性別  高中  補習科目數  每日讀書時間   區域         成績排名
4    5   1   0   0      1     9.5  3.0   924.000000
18  19   1   0   1      6    32.6  5.0  2864.000000
5    6   1   1   2      1     0.4  1.0     4.000000
45  46   1   1   1      1     1.3  3.0   126.000000
10  11   1   1   1      3    26.1  5.0  1582.000000
..  ..  ..  ..  ..    ...     ...  ...          ...
45  46   1   1   1      1     1.3  3.0   126.000000
46  47   0   0   1      2     4.3  1.0   243.000000
47  48   0   0   0      2    13.9  2.0    67.000000
48  49   0   1   1      3     3.6  1.0   339.000000
49  50   1   0   1      4     7.7  1.0   633.090909

[80 rows x 8 columns]

敘述統計

In [117]:
def status(x) : 
    return pd.Series([x.count(),x.min(),x.idxmin(),x.quantile(.25),x.median(),
                      x.quantile(.75),x.mean(),x.max(),x.idxmax(),x.mad(),x.var(),
                      x.std(),x.skew(),x.kurt()],index=['總數','最小值','最小值位置','25%分位數',
                    '中位數','75%分位數','均值','最大值','最大值位數','平均絕對偏差','變異數','標準差','偏度','峰度'])

In [118]:
cols=['補習科目數','每日讀書時間','區域','成績排名']
Descriptivestatistics= pd.DataFrame(dm4[cols].apply(status))
Descriptivestatistics

            補習科目數      每日讀書時間         區域           成績排名
總數      80.000000   80.000000  80.000000      80.000000
最小值      1.000000    0.400000   1.000000       4.000000
最小值位置    4.000000    5.000000   5.000000       5.000000
25%分位數   1.000000    3.600000   1.000000     125.750000
中位數      2.000000    5.900000   2.000000     291.000000
75%分位數   4.000000   17.175000   3.000000     924.000000
均值       2.762500   11.145000   2.437500     633.090909
最大值     10.000000   46.900000   5.000000    3275.000000
最大值位數   23.000000   23.000000  18.000000      21.000000
平均絕對偏差   1.619688    9.641625   1.223437     581.343182
變異數      4.208703  140.446304   1.996044  599007.523590
標準差      2.051512   11.851004   1.412814     773.955763
偏度       1.348725    1.221195   0.530979       1.807625
峰度       1.755731    0.288379  -0.926515       2.894185

修正資料偏態

對數轉換（Log Transformation）

In [119]:
dmlog=dm4
dmlog.成績排名=np.log1p(dmlog.成績排名)
dm5=pd.DataFrame(dmlog)
dm5

    座號  頂大  性別  高中  補習科目數  每日讀書時間   區域      成績排名
4    5   1   0   0      1     9.5  3.0  6.829794
18  19   1   0   1      6    32.6  5.0  7.960324
5    6   1   1   2      1     0.4  1.0  1.609438
45  46   1   1   1      1     1.3  3.0  4.844187
10  11   1   1   1      3    26.1  5.0  7.367077
..  ..  ..  ..  ..    ...     ...  ...       ...
45  46   1   1   1      1     1.3  3.0  4.844187
46  47   0   0   1      2     4.3  1.0  5.497168
47  48   0   0   0      2    13.9  2.0  4.219508
48  49   0   1   1      3     3.6  1.0  5.828946
49  50   1   0   1      4     7.7  1.0  6.452192

[80 rows x 8 columns]

In [120]:
Descriptivestatistics= pd.DataFrame(dm5[cols].apply(status))
Descriptivestatistics

            補習科目數      每日讀書時間         區域       成績排名
總數      80.000000   80.000000  80.000000  80.000000
最小值      1.000000    0.400000   1.000000   1.609438
最小值位置    4.000000    5.000000   5.000000   5.000000
25%分位數   1.000000    3.600000   1.000000   4.842211
中位數      2.000000    5.900000   2.000000   5.676754
75%分位數   4.000000   17.175000   3.000000   6.829794
均值       2.762500   11.145000   2.437500   5.559073
最大值     10.000000   46.900000   5.000000   8.094378
最大值位數   23.000000   23.000000  18.000000  21.000000
平均絕對偏差   1.619688    9.641625   1.223437   1.247446
變異數      4.208703  140.446304   1.996044   2.633499
標準差      2.051512   11.851004   1.412814   1.622806
偏度       1.348725    1.221195   0.530979  -0.775900
峰度       1.755731    0.288379  -0.926515   0.304800

平方根轉換（Square Root Transformation）

In [121]:
dmsr=dm4
dmsr.成績排名=dmsr.成績排名**(1/2)
dm6=pd.DataFrame(dmsr)
dm6

    座號  頂大  性別  高中  補習科目數  每日讀書時間   區域      成績排名
4    5   1   0   0      1     9.5  3.0  2.613387
18  19   1   0   1      6    32.6  5.0  2.821405
5    6   1   1   2      1     0.4  1.0  1.268636
45  46   1   1   1      1     1.3  3.0  2.200951
10  11   1   1   1      3    26.1  5.0  2.714236
..  ..  ..  ..  ..    ...     ...  ...       ...
45  46   1   1   1      1     1.3  3.0  2.200951
46  47   0   0   1      2     4.3  1.0  2.344604
47  48   0   0   0      2    13.9  2.0  2.054144
48  49   0   1   1      3     3.6  1.0  2.414321
49  50   1   0   1      4     7.7  1.0  2.540117

[80 rows x 8 columns]

In [122]:
Descriptivestatistics= pd.DataFrame(dm6[cols].apply(status))
Descriptivestatistics

            補習科目數      每日讀書時間         區域       成績排名
總數      80.000000   80.000000  80.000000  80.000000
最小值      1.000000    0.400000   1.000000   1.268636
最小值位置    4.000000    5.000000   5.000000   5.000000
25%分位數   1.000000    3.600000   1.000000   2.200502
中位數      2.000000    5.900000   2.000000   2.382594
75%分位數   4.000000   17.175000   3.000000   2.613387
均值       2.762500   11.145000   2.437500   2.326437
最大值     10.000000   46.900000   5.000000   2.845062
最大值位數   23.000000   23.000000  18.000000  21.000000
平均絕對偏差   1.619688    9.641625   1.223437   0.285386
變異數      4.208703  140.446304   1.996044   0.148623
標準差      2.051512   11.851004   1.412814   0.385517
偏度       1.348725    1.221195   0.530979  -1.263051
峰度       1.755731    0.288379  -0.926515   1.490604

倒數轉換（Reciprocal Transformation）

In [123]:
dmrp=dm4
dmrp.成績排名=1/ dmrp.成績排名
dm7=pd.DataFrame(dm4)
dm7

    座號  頂大  性別  高中  補習科目數  每日讀書時間   區域      成績排名
4    5   1   0   0      1     9.5  3.0  0.382645
18  19   1   0   1      6    32.6  5.0  0.354433
5    6   1   1   2      1     0.4  1.0  0.788248
45  46   1   1   1      1     1.3  3.0  0.454349
10  11   1   1   1      3    26.1  5.0  0.368428
..  ..  ..  ..  ..    ...     ...  ...       ...
45  46   1   1   1      1     1.3  3.0  0.454349
46  47   0   0   1      2     4.3  1.0  0.426511
47  48   0   0   0      2    13.9  2.0  0.486821
48  49   0   1   1      3     3.6  1.0  0.414195
49  50   1   0   1      4     7.7  1.0  0.393683

[80 rows x 8 columns]

In [124]:
Descriptivestatistics= pd.DataFrame(dm7[cols].apply(status))
Descriptivestatistics

            補習科目數      每日讀書時間         區域       成績排名
總數      80.000000   80.000000  80.000000  80.000000
最小值      1.000000    0.400000   1.000000   0.351486
最小值位置    4.000000    5.000000   5.000000  21.000000
25%分位數   1.000000    3.600000   1.000000   0.382645
中位數      2.000000    5.900000   2.000000   0.419711
75%分位數   4.000000   17.175000   3.000000   0.454442
均值       2.762500   11.145000   2.437500   0.446218
最大值     10.000000   46.900000   5.000000   0.788248
最大值位數   23.000000   23.000000  18.000000   5.000000
平均絕對偏差   1.619688    9.641625   1.223437   0.066887
變異數      4.208703  140.446304   1.996044   0.010709
標準差      2.051512   11.851004   1.412814   0.103482
偏度       1.348725    1.221195   0.530979   2.322271
峰度       1.755731    0.288379  -0.926515   5.291593