<a href="https://colab.research.google.com/github/Lyumin80224/lyumin80224.github.io/blob/main/test1022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

載入套件

In [3]:
import numpy as np
import pandas as pd
import random

資料輸入

In [5]:
from google.colab import files
uploaded=files.upload()

Saving exercise.csv to exercise.csv

In [6]:
data=pd.read_csv('exercise.csv',header=0)
data.head()

   座號  頂大  性別  高中  補習科目數  每日讀書時間   區域   成績排名
0   1   1   0   2      1     3.6  3.0  291.0
1   2   0   0   0      1     0.6  1.0   37.0
2   3   0   1   0      1     7.2  2.0  282.0
3   4   0   1   2      1     3.6  1.0  118.0
4   5   1   0   0      1     9.5  3.0  924.0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   座號      50 non-null     int64
 1   頂大      50 non-null     int64
 2   性別      50 non-null     int64
 3   高中      50 non-null     int64
 4   補習科目數   50 non-null     int64
 5   每日讀書時間  50 non-null     float64
 6   區域      49 non-null     float64
 7   成績排名    49 non-null     float64
dtypes: float64(3), int64(5)
memory usage: 3.2 KB

不平衡處理

In [8]:
cols = ['頂大']

In [9]:
from collections import Counter
import pandas as pd
result = data[cols].apply(pd.value_counts)
print(result)

   頂大
0  40
1  10

抽樣

In [10]:
df1=pd.DataFrame(data[data['頂大']==1])
print(df1)

    座號  頂大  性別  高中  補習科目數  每日讀書時間   區域    成績排名
0    1   1   0   2      1     3.6  3.0   291.0
4    5   1   0   0      1     9.5  3.0   924.0
5    6   1   1   2      1     0.4  1.0     4.0
10  11   1   1   1      3    26.1  5.0  1582.0
18  19   1   0   1      6    32.6  5.0  2864.0
21  22   1   1   0      8    39.6  1.0  3275.0
28  29   1   0   1      2     0.9  1.0    25.0
35  36   1   0   1      4     4.4  1.0   161.0
45  46   1   1   1      1     1.3  3.0   126.0
49  50   1   0   1      4     7.7  1.0     NaN

In [11]:
df2 = df1.sample(n=30, replace=True)
print(df2)

    座號  頂大  性別  高中  補習科目數  每日讀書時間   區域    成績排名
4    5   1   0   0      1     9.5  3.0   924.0
18  19   1   0   1      6    32.6  5.0  2864.0
18  19   1   0   1      6    32.6  5.0  2864.0
49  50   1   0   1      4     7.7  1.0     NaN
18  19   1   0   1      6    32.6  5.0  2864.0
4    5   1   0   0      1     9.5  3.0   924.0
21  22   1   1   0      8    39.6  1.0  3275.0
45  46   1   1   1      1     1.3  3.0   126.0
10  11   1   1   1      3    26.1  5.0  1582.0
45  46   1   1   1      1     1.3  3.0   126.0
21  22   1   1   0      8    39.6  1.0  3275.0
18  19   1   0   1      6    32.6  5.0  2864.0
21  22   1   1   0      8    39.6  1.0  3275.0
18  19   1   0   1      6    32.6  5.0  2864.0
0    1   1   0   2      1     3.6  3.0   291.0
21  22   1   1   0      8    39.6  1.0  3275.0
4    5   1   0   0      1     9.5  3.0   924.0
21  22   1   1   0      8    39.6  1.0  3275.0
0    1   1   0   2      1     3.6  3.0   291.0
35  36   1   0   1      4     4.4  1.0   161.0
0    1   1   0   2      1     3.6  3.0   291.0
10  11   1   1   1      3    26.1  5.0  1582.0
28  29   1   0   1      2     0.9  1.0    25.0
35  36   1   0   1      4     4.4  1.0   161.0
28  29   1   0   1      2     0.9  1.0    25.0
49  50   1   0   1      4     7.7  1.0     NaN
18  19   1   0   1      6    32.6  5.0  2864.0
28  29   1   0   1      2     0.9  1.0    25.0
18  19   1   0   1      6    32.6  5.0  2864.0
5    6   1   1   2      1     0.4  1.0     4.0

In [12]:
dm=pd.concat([df2,data])
print(dm)

    座號  頂大  性別  高中  補習科目數  每日讀書時間   區域    成績排名
4    5   1   0   0      1     9.5  3.0   924.0
18  19   1   0   1      6    32.6  5.0  2864.0
18  19   1   0   1      6    32.6  5.0  2864.0
49  50   1   0   1      4     7.7  1.0     NaN
18  19   1   0   1      6    32.6  5.0  2864.0
..  ..  ..  ..  ..    ...     ...  ...     ...
45  46   1   1   1      1     1.3  3.0   126.0
46  47   0   0   1      2     4.3  1.0   243.0
47  48   0   0   0      2    13.9  2.0    67.0
48  49   0   1   1      3     3.6  NaN   339.0
49  50   1   0   1      4     7.7  1.0     NaN

[80 rows x 8 columns]

In [13]:
result = data[cols].apply(dm.value_counts)
print(result)

    頂大
頂大
1   40
0   40

In [14]:
#檢查空值欄位
dm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 4 to 49
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   座號      80 non-null     int64
 1   頂大      80 non-null     int64
 2   性別      80 non-null     int64
 3   高中      80 non-null     int64
 4   補習科目數   80 non-null     int64
 5   每日讀書時間  80 non-null     float64
 6   區域      79 non-null     float64
 7   成績排名    77 non-null     float64
dtypes: float64(3), int64(5)
memory usage: 5.6 KB

In [15]:
print(dm.isnull())

       座號     頂大     性別     高中  補習科目數  每日讀書時間     區域   成績排名
4   False  False  False  False  False   False  False  False
18  False  False  False  False  False   False  False  False
18  False  False  False  False  False   False  False  False
49  False  False  False  False  False   False  False   True
18  False  False  False  False  False   False  False  False
..    ...    ...    ...    ...    ...     ...    ...    ...
45  False  False  False  False  False   False  False  False
46  False  False  False  False  False   False  False  False
47  False  False  False  False  False   False  False  False
48  False  False  False  False  False   False   True  False
49  False  False  False  False  False   False  False   True

[80 rows x 8 columns]

In [16]:
print(dm.isnull().sum())

座號        0
頂大        0
性別        0
高中        0
補習科目數     0
每日讀書時間    0
區域        1
成績排名      3
dtype: int64

刪除法

In [17]:
dm1=dm
result_drop=pd.DataFrame(dm1.dropna())
result_drop

    座號  頂大  性別  高中  補習科目數  每日讀書時間   區域    成績排名
4    5   1   0   0      1     9.5  3.0   924.0
18  19   1   0   1      6    32.6  5.0  2864.0
18  19   1   0   1      6    32.6  5.0  2864.0
18  19   1   0   1      6    32.6  5.0  2864.0
4    5   1   0   0      1     9.5  3.0   924.0
..  ..  ..  ..  ..    ...     ...  ...     ...
43  44   0   1   0      4    37.3  1.0    75.0
44  45   0   1   2      1     5.6  1.0    21.0
45  46   1   1   1      1     1.3  3.0   126.0
46  47   0   0   1      2     4.3  1.0   243.0
47  48   0   0   0      2    13.9  2.0    67.0

[76 rows x 8 columns]

填補（天真）預測法

類別資料：頻率高

In [18]:
dm2=dm
print(dm2.區域.value_counts())
dm2.區域 = dm2.區域.fillna(1)
dm3=pd.DataFrame(dm2)
dm3

1.0    34
3.0    17
5.0    13
2.0    10
4.0     5
Name: 區域, dtype: int64

    座號  頂大  性別  高中  補習科目數  每日讀書時間   區域    成績排名
4    5   1   0   0      1     9.5  3.0   924.0
18  19   1   0   1      6    32.6  5.0  2864.0
18  19   1   0   1      6    32.6  5.0  2864.0
49  50   1   0   1      4     7.7  1.0     NaN
18  19   1   0   1      6    32.6  5.0  2864.0
..  ..  ..  ..  ..    ...     ...  ...     ...
45  46   1   1   1      1     1.3  3.0   126.0
46  47   0   0   1      2     4.3  1.0   243.0
47  48   0   0   0      2    13.9  2.0    67.0
48  49   0   1   1      3     3.6  1.0   339.0
49  50   1   0   1      4     7.7  1.0     NaN

[80 rows x 8 columns]

數值資料：插補

In [19]:
dm3.成績排名 = dm3.成績排名.fillna((dm3['成績排名'].mean())) # media()
dm4=pd.DataFrame(dm3)
dm4

    座號  頂大  性別  高中  補習科目數  每日讀書時間   區域         成績排名
4    5   1   0   0      1     9.5  3.0   924.000000
18  19   1   0   1      6    32.6  5.0  2864.000000
18  19   1   0   1      6    32.6  5.0  2864.000000
49  50   1   0   1      4     7.7  1.0   916.961039
18  19   1   0   1      6    32.6  5.0  2864.000000
..  ..  ..  ..  ..    ...     ...  ...          ...
45  46   1   1   1      1     1.3  3.0   126.000000
46  47   0   0   1      2     4.3  1.0   243.000000
47  48   0   0   0      2    13.9  2.0    67.000000
48  49   0   1   1      3     3.6  1.0   339.000000
49  50   1   0   1      4     7.7  1.0   916.961039

[80 rows x 8 columns]

敘述統計

In [20]:
def status(x) : 
    return pd.Series([x.count(),x.min(),x.idxmin(),x.quantile(.25),x.median(),
                      x.quantile(.75),x.mean(),x.max(),x.idxmax(),x.mad(),x.var(),
                      x.std(),x.skew(),x.kurt()],index=['總數','最小值','最小值位置','25%分位數',
                    '中位數','75%分位數','均值','最大值','最大值位數','平均絕對偏差','變異數','標準差','偏度','峰度'])

In [21]:
cols=['補習科目數','每日讀書時間','區域','成績排名']
Descriptivestatistics= pd.DataFrame(dm4[cols].apply(status))
Descriptivestatistics

            補習科目數      每日讀書時間         區域          成績排名
總數      80.000000   80.000000  80.000000  8.000000e+01
最小值      1.000000    0.400000   1.000000  4.000000e+00
最小值位置    4.000000    5.000000  49.000000  5.000000e+00
25%分位數   1.000000    3.600000   1.000000  1.260000e+02
中位數      3.000000    7.550000   2.000000  3.310000e+02
75%分位數   5.000000   26.850000   3.000000  1.446000e+03
均值       3.425000   14.216250   2.387500  9.169610e+02
最大值     10.000000   46.900000   5.000000  3.275000e+03
最大值位數   23.000000   23.000000  18.000000  2.100000e+01
平均絕對偏差   1.974375   12.373625   1.310938  8.692023e+02
變異數      5.690506  194.601125   2.240348  1.175911e+06
標準差      2.385478   13.949951   1.496779  1.084394e+03
偏度       0.844202    0.786384   0.629518  1.212359e+00
峰度      -0.208269   -0.949900  -1.017529  2.378054e-02

修正資料偏態

對數轉換（Log Transformation）

In [22]:
dm4.成績排名=np.log1p(dm4.成績排名)
dm5=pd.DataFrame(dm4)
dm5

    座號  頂大  性別  高中  補習科目數  每日讀書時間   區域      成績排名
4    5   1   0   0      1     9.5  3.0  6.829794
18  19   1   0   1      6    32.6  5.0  7.960324
18  19   1   0   1      6    32.6  5.0  7.960324
49  50   1   0   1      4     7.7  1.0  6.822155
18  19   1   0   1      6    32.6  5.0  7.960324
..  ..  ..  ..  ..    ...     ...  ...       ...
45  46   1   1   1      1     1.3  3.0  4.844187
46  47   0   0   1      2     4.3  1.0  5.497168
47  48   0   0   0      2    13.9  2.0  4.219508
48  49   0   1   1      3     3.6  1.0  5.828946
49  50   1   0   1      4     7.7  1.0  6.822155

[80 rows x 8 columns]

平方根轉換（Square Root Transformation）

In [23]:
dm4.成績排名=dm4.成績排名**(1/2)
dm5=pd.DataFrame(dm4)
dm5

    座號  頂大  性別  高中  補習科目數  每日讀書時間   區域      成績排名
4    5   1   0   0      1     9.5  3.0  2.613387
18  19   1   0   1      6    32.6  5.0  2.821405
18  19   1   0   1      6    32.6  5.0  2.821405
49  50   1   0   1      4     7.7  1.0  2.611926
18  19   1   0   1      6    32.6  5.0  2.821405
..  ..  ..  ..  ..    ...     ...  ...       ...
45  46   1   1   1      1     1.3  3.0  2.200951
46  47   0   0   1      2     4.3  1.0  2.344604
47  48   0   0   0      2    13.9  2.0  2.054144
48  49   0   1   1      3     3.6  1.0  2.414321
49  50   1   0   1      4     7.7  1.0  2.611926

[80 rows x 8 columns]

倒數轉換（Reciprocal Transformation）

In [24]:
dm4.成績排名=1/ dm4.成績排名
dm5=pd.DataFrame(dm4)
dm5

    座號  頂大  性別  高中  補習科目數  每日讀書時間   區域      成績排名
4    5   1   0   0      1     9.5  3.0  0.382645
18  19   1   0   1      6    32.6  5.0  0.354433
18  19   1   0   1      6    32.6  5.0  0.354433
49  50   1   0   1      4     7.7  1.0  0.382859
18  19   1   0   1      6    32.6  5.0  0.354433
..  ..  ..  ..  ..    ...     ...  ...       ...
45  46   1   1   1      1     1.3  3.0  0.454349
46  47   0   0   1      2     4.3  1.0  0.426511
47  48   0   0   0      2    13.9  2.0  0.486821
48  49   0   1   1      3     3.6  1.0  0.414195
49  50   1   0   1      4     7.7  1.0  0.382859

[80 rows x 8 columns]